  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <!-- <h1>Hello  </h1> -->
    <% if (user) { %>
     
      <a href="/contacts"><button type="button" id="contacts-btn" class="btn btn-primary btn-lg nav-btn">My Contacts <i class="fa-solid fa-address-card"></i></button></a>
      <a href="/instruments/new"><button type="button" class="btn btn-primary btn-lg nav-btn">Instruments <i class="fa-solid fa-guitar"></i></button></a>
    <% } %>
    
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit"  class="btn btn-danger btn-lg">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
