main {
  font-family: 'Courgette', cursive;
  display: flex;
}

h1 {
  width: 400px;
  padding: 30px;
}

form {
  background-color: white;
  width: 400px;
  padding: 30px;
}

.mb-3 {
  display: inline;

}