main {
  display: flex;
}



form {
  background-color: rgba(211, 211, 211);
  width: 400px;
  padding: 30px;
}

.mb-3 {
  display: inline;

}
#title-div {
  background-color: rgb(142,142,141);
  width: 100%;
  text-align: center;
}