
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>


  <h1>Enter New Contact Data</h1>
  <% if (user) { %>
   
  
  <form action="/contacts" method="POST" autocomplete="off">
    <label>Name:
      <input type="text" name="name">
    </label>
    <br>
    <label>Email Address:
      <input type="text" name="email">
    </label>
    <br>
    <label>Phone Number:
      <input type="text" name="phoneNum">
    </label>
    <br>
<!--     
    <label>Instruments:
      <select name="instruments" id="">

        <option value="">ejs of instruments</option>

      </select> -->
     
      <label>Location:
        <input type="text" name="location">
      </label>  
      <br>
    </label>
    <label>
      Willing to Travel?
      <input type="checkbox" name="willingToTravel">
    </label>
    <br>
    <label>
      Teaches?
      <input type="checkbox" name="teaches">
    </label>
    <br>
    
    <button type="submit">Save Contact</button>
  </form>

  <% } %>

<%- include('../partials/footer') %>

