
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>


  <h1>Enter New Contact Data</h1>
  <% if (user) { %>
   
  
  <form action="/contacts" method="POST" autocomplete="off" >
    <div class="mb-3">
      <label class="form-label">Name:
        <input type="text" name="name" class="form-control">
      </label>
  </div>
  <br>
  <div class="mb-3">
    <label class="form-label">Email Address:
      <input type="text" name="email" class="form-control">
    </label>
  </div>
  <br>
  <divclass="mb-3">
    <label class="form-label">Phone Number:
      <input type="text" name="phoneNum" class="form-control">
    </label>
  </div>
  <br>
<!--     
    <label>Instruments:
      <select name="instruments" id="">

        <option value="">ejs of instruments</option>

      </select> -->
  <divclass="mb-3">
    <label class="form-label">Instruement:
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </label>
  </div>
  <br>   
  <divclass="mb-3">
    <label class="form-label">Instrument:
      <input type="text" name="" class="form-control">
    </label>
  </div>
  <br>
  <divclass="mb-3">
    <label class="form-label">Location:
      <input type="text" name="location" class="form-control">
    </label>
  </div>
  <br>   
  <divclass="mb-3">
    <label class="form-check-label">Willing to Travel:
      <input type="checkbox" name="willingToTravel" class="form-check-input">
    </label>
  </div>
  <br>
  <divclass="mb-3">
    <label class="form-check-label">Teaches:
      <input type="checkbox" name="teaches" class="form-check-input">
    </label>
  </div>
  <br> 

    
    <button type="submit">Save Contact</button>
  </form>

  <% } %>

<%- include('../partials/footer') %>

